@charset "UTF-8";
body {
    background-color: lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: slategrey;
}
h2 {
    background-color: lightseagreen;
}